.CompanyContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh; */
  width: 100%;
  margin-left: 180px;
  margin-top: 90px;
  /* padding-top: 100px; */
  /* background-color: rgb(129, 161, 190); */
}

/* .company-container{
  align-items: center;
  background-color: black;
} */
