/* ResetPassword.css */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(129, 161, 190);
}

.reset-password-heading {
  font-size: 1.5rem;
}

.reset-password-icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  vertical-align: middle;
  font-size: 3rem;
}

.reset-password-message {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.reset-password-container .card {
  border: none;
  border-radius: 0.375rem;
  background-color: #f8f9fe;
}

.reset-password-container .card-body {
  padding: 2.5rem;
}

.reset-password-container .input-group {
  border: 1px solid #e9ecef;
}

.reset-password-container .input-group-text {
  background-color: #f8f9fe;
  border: none;
}

.reset-password-container input::placeholder {
  color: #b3b3b3;
}

.reset-password-container .btn {
  border-radius: 2rem;
}

.reset-password-container .btn .reset-password-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
}
